
.collect-info{
	margin-bottom: .5rem;

	&-input{
		font-size: 14px;
		background-color: #fff;
		border-radius: var(--item-border-radius);
		box-shadow: 0 1px 0 rgba(9, 30 ,66, .25);
		cursor: pointer;
		display: block;
		margin-bottom: 8px;
		max-width: 300px;
		min-height: 20px;
		position: relative;
		text-decoration: none;
		z-index: 0;
		padding: 6px 8px 2px;

		textarea{
			background: none;
			border: none;
			box-shadow: none;
			outline: none;
			resize: none;
			width: 100%;
			height: auto;
			margin-bottom: 4px;
			max-height: 162px;
			min-height: 54px;
			overflow-y: auto;
			padding: 0;
		}
	}

	&-options{
		display: flex;

		&-cancel{
			border:none;
			background-color: transparent;
			width: 32px;
			height: 32px;
			font-size: 28px;
			color: var(--color-icon);
			transition: all .2s;

			&:hover{
				color: var(--color-text-primary);
			}
		}
	}
}
